#spinner, #topic-partition-container{
    display: none;
}

#spinner {
    position: fixed;
    height: 100vh;
    background: red;
    width: 100%;
    margin: 0 !important;
    padding-left: 50%;
    padding-top: 20%;
    opacity: 0.5;
}

#topic-1 {

}